[submodule "libs/DeepLabV3Plus-Pytorch"]
	path = gcl_sem/libs/deeplabv3plus_pytorch
	url = https://github.com/VainF/DeepLabV3Plus-Pytorch
[submodule "libs/mapillary_sls"]
	path = gcl_sem/libs/mapillary_sls
	url = https://github.com/mapillary/mapillary_sls/
[submodule "libs/generalized_contrastive_loss"]
	path = gcl_sem/libs/generalized_contrastive_loss
	url = https://github.com/blueted2/generalized_contrastive_loss
